.comment-container{
  padding-left: 3%;
  color:  white;

}

.user-name{
  color: rgb(62, 62, 240);
}

.the-comment{
  border: solid ;
  margin-right: 30%;
  margin-top: 5px;
  border-radius: 5px;
  padding-left: 20px;
  height: 60px;
  padding-top: 5px;
  margin-bottom: 20px;
}
